<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <title>Error!</title>
    <link rel="icon" href="/images/favicon.webp" type="image/x-icon" />
    <link href="/css/navmenu.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/e96370e984.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="page">
    <div class="flex">
      <main class="flex-1 p-4">
        <div class="p-4"></div>
        <div class="logForm">
          <div class="container mx-auto p-6 rounded-lg text-white">
            <h1 class="text-3xl font-semibold mb-4">
              <i class="fa fa-exclamation-triangle"></i> - Oops! An error has
              occured
            </h1>
            <p class="mb-6">
              If you feel this is incorrect, please open a ticekt.
            </p>
            <br />
            <p class="mb-6">Here's what's happened...</p>

            <form
              action="/error-report"
              method="POST"
              class="bg-gray p-6 rounded-lg shadow-md"
            >
              <div class="mb-4">
                <label
                  for="reason"
                  class="block text-sm font-medium text-gray-700"
                  >Reason for Error</label
                >
                <input
                  type="text"
                  required
                  id="reason"
                  name="reason"
                  class="mt-1 block w-full border border-gray-950 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  value="<%= message %>"
                  disabled
                />
              </div>

              <div class="mb-4">
                <label
                  for="date"
                  class="block text-sm font-medium text-gray-700"
                  >Status Code</label
                >
                <input
                  type="text"
                  required
                  id="date"
                  name="date"
                  class="mt-1 block w-full border border-gray-950 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  value="<%= error.status %>"
                  disabled
                />
              </div>

              <div class="mb-4">
                <label for="url" class="block text-sm font-medium text-gray-700"
                  >Occured at</label
                >
                <input
                  type="text"
                  required
                  id="url"
                  name="url"
                  class="mt-1 block w-full border border-gray-950 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  value="<%= error.stack %>"
                  disabled
                />
              </div>
            </form>
            <div class="flex">
              <div class="justify-start">
                <a href="/dashboard"
                  ><button
                    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  >
                    Go to Dashboard
                  </button></a
                >
                </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>

<style>
  input {
    color: white;
    background-color: var(--background);
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .main {
    height: auto;
  }
  .bg-purp {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 0, 128);
  }
</style>
