<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <title>Log a Ticket!</title>
    <link rel="icon" href="/images/daynnightlogo.png" type="image/x-icon" />
    <link href="/css/navmenu.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/e96370e984.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="page">
    <div class="flex">
      <!-- NAV BAR START-->
      <div id="nav-bar">
        <div id="nav-header">
          <a id="nav-title" href="/"
            ><img
              class="supportIcon"
              src="./images/CALIRP_support.png"
              alt="SupportLogo"
            /><i class="title"> Support Team</i></a
          >
          <hr />
        </div>
        <div id="nav-content">
          <a class="nav-button" href="/">
            <i class="fas fa-desktop"></i><span>My Dashboard</span>
          </a>
          <a class="nav-button" href="/my-tickets">
            <i class="fas fa-ticket"></i><span>My Tickets</span>
          </a>
          <a class="nav-button" href="/new-ticket">
            <i class="fas fa-receipt"></i><span>Log a Ticket</span>
          </a>
          <a class="nav-button" href="/roster">
            <i class="fas fa-address-book"></i><span>Roster</span>
          </a>
          <a
            class="nav-button"
            href="https://calirp-or-support-team.gitbook.io/knowledgebase/"
          >
            <i class="fas fa-book"></i><span>Knowledgebase</span>
          </a>
          <% if (user.isStaff) { %>
          <hr />
          <a class="nav-button" href="/lsa-dashboard">
            <i class="fas fa-laptop"></i><span>LSA Dashboard</span>
          </a>
          <a class="nav-button" href="/punishments">
            <i class="fas fa-circle-exclamation"></i><span>Punishments</span>
          </a>
          <a class="nav-button" href="/ticket-manager">
            <i class="fas fa-clipboard-list"></i><span>Ticket Management</span>
          </a>
          <% } %> <% if (user.superAdmin) { %>
          <hr />
          <a class="nav-button" href="/user-management">
            <i class="fas fa-users"></i><span>User Management</span>
          </a>
          <a class="nav-button" href="/admin">
            <i class="fas fa-user-shield"></i><span>Admin Menu</span>
          </a>
          <% } %>
          <hr />
          <a class="nav-button" href="/settings">
            <i class="fas fa-gear"></i><span>Settings</span>
          </a>
          <a class="nav-button" href="/logout">
            <i class="fas fa-right-to-bracket"></i><span>Logout</span>
          </a>
          <div id="nav-content-highlight"></div>
        </div>
        <div id="nav-footer">
          <div id="nav-footer-heading">
            <div id="nav-footer-avatar">
              <img
                src="<%= user.avatar ? `https://cdn.discordapp.com/avatars/${user.discordId}/${user.avatar}.png` : 'default-avatar.png' %>"
              />
            </div>
            <div id="nav-footer-titlebox">
              <a id="nav-footer-title" target="_blank"><%= user.username %></a>
              <p id="nav-footer-subtitle"><%= rank %></p>
            </div>
          </div>
          <div id="nav-footer-content">
            <ul class="dropdown" aria-label="submenu">
              <li><a href="/settings">Settings</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- NAV BAR END-->
      <main class="flex-1 p-4">
        <div class="p-4"></div>
        <div class="logForm">
          <div class="container mx-auto p-6 rounded-lg text-white">
            <h1 class="text-3xl font-semibold mb-4">Log a ticket</h1>
            <p class="mb-6">
              Please complete the form below to log your ticket.
            </p>

            <form
              action="/submit-ticket"
              method="POST"
              class="bg-gray p-6 rounded-lg shadow-md"
            >
              <div class="mb-4">
                <label
                  for="reason"
                  class="block text-sm font-medium text-gray-700"
                  >Reason for Ticket</label
                >
                <input
                  type="text"
                  required
                  id="reason"
                  name="reason"
                  class="mt-1 block w-full border border-gray-950 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  placeholder="Enter a reason for your ticket"
                />
              </div>

              <div class="mb-4">
                <label
                  for="memberAssisted"
                  class="block text-sm font-medium text-gray-700"
                  >Member Assisted (Discord ID)</label
                >
                <input
                  type="number"
                  required
                  id="memberAssisted"
                  name="memberAssisted"
                  class="mt-1 block w-full border border-gray-950 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  placeholder="E.g. 8465132384352133"
                />
              </div>

              <div class="mb-4">
                <label
                  for="ticketLink"
                  class="block text-sm font-medium text-gray-700"
                  >Ticket Link</label
                >
                <input
                  type="url"
                  required
                  id="ticketLink"
                  name="ticketLink"
                  class="mt-1 block w-full border border-gray-950 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                  placeholder="https://cdn.chromalabs.dev/ticket-transcripts/..."
                />
              </div>

              <div class="flex justify-end">
                <button
                  type="submit"
                  class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                >
                  Submit Ticket Log
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>

<style>
  input {
    color: white;
    background-color: var(--background);
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .main {
    height: auto;
  }
  .bg-purp {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 0, 128);
  }
</style>
