<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <link href="/css/tailwind.css" rel="stylesheet" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uh Oh!</title>
    <link rel="icon" href="/images/daynnightlogo.png" type="image/x-icon" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" href="/images/daynnightlogo.png" type="image/x-icon" />
  </head>
  <body class="page">
    <header>
      <div class="title"></div>
    </header>

    <img
      class="image"
      src="./images/CALIRP_support.png"
      alt="CaliSupportLogo"
    />
    <div class="loginContainer">
      <div class="flex items-center justify-center mt-1">
        <div class="bg-white p-8 rounded-lg shadow-md w-32 pt-40">
          <h1 class="text-2xl font-bold mb-4">
            Uh Oh! We've ran into an Error!
          </h1>
          <p
            class="bg-blue-500 text-white py-2 px-4 rounded flex items-center justify-center"
          >
            It appears that you've not been onboarded yet. If this is incorrect
            please contact the Support Team Command.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  .page {
    height: auto;
    background: rgb(131, 58, 180);
    background: linear-gradient(
      to left,
      rgb(0, 173, 164) 0%,
      rgb(185, 185, 185) 50%,
      rgb(150, 0, 161) 100%
    );
  }
  .loginContainer {
    padding-top: 20em;
  }

  .image {
    height: 25%;
    position: relative;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    margin-right: -50%;
  }

  /* styles.css */
</style>
