<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <link href="/css/tailwind.css" rel="stylesheet" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iKON Studios</title>
    <link rel="icon" href="/images/favicon.webp" type="image/x-icon" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/e96370e984.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

  <body class="page">
    <div class="topnav" id="myTopnav">
      <a href="/home">Home</a>
      <a href="/scan-in" class="active">Scan In</a>
      <a href="/scan-out">Scan Out</a>
      <% if (user.access == "Developer" ) {%>
      <a href="/create-asset">Create Asset</a>
      <a href="/create-asset">Update Asset</a>
      <a href="/create-asset">Remove Asset</a>
      <% }%>
      <a href="/tyres">Asset Logs</a>
      <a href="/settings">Search</a>
      <% if (user.access == "Developer" ) {%>
      <a href="/asset-viewer">Asset Viewer</a>
      <% }%>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div id="pageTitleName" class="flex justify-center">
      <h1 class="text-2xl font-bold mb-4">Scan In</h1>
    </div>
    <div class="p-4"></div>
    <div class="flex items-center justify-center mt-1">
      <div id="container" class="bg-white p-8 rounded-lg shadow-md w-32 pt-40">
        <div id="" class="flex justify-center">
          <div id="container">
            <div style="width: 500px" id="reader"></div>
            <div style="width: 500px" id="result"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="./html5-qrcode.min.js"></script>
<script type="module">
  var html5QrcodeScanner = new Html5QrcodeScanner("reader", {
    fps: 10,
    qrbox: 250,
  });

  async function onScanSuccess(decodedText, decodedResult) {
    // Handle on success condition with the decoded text or result.
    console.log(`Scan result: ${decodedText}`, decodedResult);

    // ...
    //html5QrcodeScanner.clear();
    // ^ this will stop the scanner (video feed) and clear the scan area.
    // post decoded text

    var url = `https://ikonstudios.goated.dev/api/scan-out`;
    var data = {
      scan: decodedText,
    };
    let itemName;
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = async function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        console.log(xhr.responseText);
        document.getElementById(
          "result"
        ).innerHTML = `<div class="flex items-center justify-center mt-1">
        <div
        id="container"
        class="bg-white p-8 rounded-lg shadow-md w-32 pt-40"
        >
        <h1> Scanned Out: ${decodedText} - ${xhr.responseText}
            </h1>
        <div id="" class="flex justify-center">
            <div id="resulttext">
                <div style="width: 500px" id="reader"></div>
                </div>
                </div>
                </div>
                </div>`;
      }
    };
    await xhr.send(JSON.stringify(data));
    // get response
  }

  html5QrcodeScanner.render(onScanSuccess);
</script>
<style>
  #disabled {
    cursor: not-allowed;
  }
</style>
