<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <link href="/css/tailwind.css" rel="stylesheet" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="icon" href="/images/daynnightlogo.png" type="image/x-icon" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/e96370e984.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="page">
    <header>
      <div class="title"></div>
    </header>

    <img class="image" src="./images/CALIRP_support.png" alt="CaliSupportLogo" />
    <div class="loginContainer">
      <div class="flex items-center justify-center mt-1">
        <div class="bg-white p-8 rounded-lg shadow-md pt-40">
          <h1 class="text-2xl font-bold mb-4">Select a Server</h1>
          <table class="w-full">
            <thead>
              <tr>
                <th class="text-left border-spacing-2">#</th>
                <th class="text-left border-spacing-2">Guild ID</th>
                <th class="text-left border-spacing-2">Guild Name</th>
                <th class="text-left border-spacing-2">Options</th>
              </tr>
            </thead>
            <tbody>
              <% config.forEach(server => { %>

              <tr>
                <td><%= server._id %></td>
                <td><%= server.guildId %></td>
                <td><%= server.guildName %></td>
                <td>
                  <a href="<%= server.ticketLink %>"
                    ><button
                      class="bg-blue-600 hover:bg-blue-700 text-white font p-2 rounded focus:outline-none focus:shadow-outline"
                    >
                      View Ticket
                    </button></a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  .page {
    height: auto;
    background: rgb(131, 58, 180);
    background: linear-gradient(
      to left,
      rgb(0, 173, 164) 0%,
      rgb(185, 185, 185) 50%,
      rgb(150, 0, 161) 100%
    );
  }
  .loginContainer {
    padding-top: 20em;
  }

  .image {
    height: 25%;
    position: relative;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    margin-right: -50%;
  }

  /* styles.css */
  .footer {
    width: 100%;
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    left: 0;
  }

  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .footer .row {
    display: flex;
    flex-wrap: wrap;
  }

  .footer .footer-section {
    flex: 1;
    padding: 10px;
  }

  .footer h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .footer p,
  .footer ul,
  .footer li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer ul {
    margin-top: 10px;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer-copy {
    margin-top: 20px;
    font-size: 0.9em;
  }
  .bg-purp {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 0, 128);
  }
</style>
