/** @format */

#popupBox {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.popUp {
  width: 400px;
  height: 80px;
  background-color: #1a1d21;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  transform: translateX(100%);
  animation: moveleft 0.1s linear forwards;
}
@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}

.popUp i {
  margin: 0 20px;
  font-size: 35px;
  color: green;
}
.popUp.error i {
  margin: 0 20px;
  font-size: 35px;
  color: rgb(255, 0, 0);
}
.popUp.invalid i {
  margin: 0 20px;
  font-size: 35px;
  color: rgb(228, 201, 0);
}

.popUp::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: green;
  animation: anim 5s linear forwards;
}

@keyframes anim {
  100% {
    width: 0;
  }
}
.popUp.error::after {
  background-color: red;
}
.popUp.invalid::after {
  background-color: rgb(228, 201, 0);
}
.popUp.exit::content {
  animation: hideNotif 0.5s linear backwards;
}
@keyframes hideNotif {
  100% {
    transform: translateX(0);
  }
}
